
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: flex-start;
  flex-wrap:  wrap;
  align-items: flex-start;
  padding:10px;
  background-color: #042135;
  min-height: 300px;
  font-family: 'PT Mono', monospace;
  color:  #042135;
  font-size:  36px;
  text-align:  center;
}

/*this tells the browser to account for any border and padding in the values you specify for an element's width and height.*/
* {box-sizing:  border-box;}



.item {
  margin: 10px 10px;
  width: 100px;
}

.item1 {
  background-color: #ff62f4;
}

.item2 {
  background-color:  #00a4ff
}

.item3 {
  background-color:  #af6801;
}

.item4 {
  background-color:  #01ed6e;
}

.item5 {
  background-color:  #fff93f;
}

.item6 {
  background-color:  #ff4e00;
}