body 
{
	background-image: url("background.jpg");
	background-color:#152238;
	background-size: cover;
 	background-attachment: scroll;
 	height: 100%;
 	overflow-x: hidden;
}

a 
{
	font-size:10px;
	font-family:"futura-pt", sans-serif;
 	color:lightyellow;
}

.entries {
	color: lightcoral;
	padding: 30px;
	opacity: 0.8;
	padding-top: 25%;
	position: relative;
	text-align: center;
/*	text-shadow: 0 0 10px #fff,
				 0 0 20px #fff,
				 0 0 40px #fff;
	animation: shining 3s infinite;
*/}

.link2 {
	color: lightcoral;
	padding: 18px;
	font-size: 28px;
	text-shadow: 0 0 10px lightcoral,
				 0 0 20px lightcoral,
				 0 0 40px lightcoral;
	position: relative;
	text-decoration: none;
	animation: shining 4s infinite;
}

.link2:hover {
	position: relative;
	padding: 18px;
	font-size: 40px;
	text-shadow: 0 0 10px lightcoral,
				 0 0 20px lightcoral,
				 0 0 40px lightcoral,
				 0 0 80px lightcoral,
				 0 0 120px lightyellow,
				 0 0 140px lightyellow;
	animation: shining 2.5s infinite;
}

.link3 {
	color: lightcoral;
	font-size: 28px;
	padding: 18px;
	text-shadow: 0 0 10px lightcoral,
				 0 0 20px lightcoral,
				 0 0 40px lightcoral;
	position: sticky;
	text-decoration: none;
	animation: shining 5.7s infinite;
}

.link3:hover {
	position: sticky;
	padding: 18px;
	font-size: 40px;
	text-shadow: 0 0 10px lightcoral,
				 0 0 20px lightcoral,
				 0 0 40px lightcoral,
				 0 0 80px lightcoral,
				 0 0 120px lightyellow,
				 0 0 140px lightyellow;
	animation: shining 2.5s infinite;
}

.link4 {
	color: lightcoral;
	padding: 18px;
	font-size: 28px;
	text-shadow: 0 0 10px lightcoral,
				 0 0 20px lightcoral,
				 0 0 40px lightcoral;
	position: sticky;
	text-decoration: none;
	animation: shining 3.9s infinite;
}

.link4:hover {
	position: sticky;
	padding: 18px;
	font-size: 40px;
	text-shadow: 0 0 10px lightcoral,
				 0 0 20px lightcoral,
				 0 0 40px lightcoral,
				 0 0 80px lightcoral,
				 0 0 120px lightyellow,
				 0 0 140px lightyellow;
	animation: shining 2.5s infinite;
}

.link5 {
	color: lightcoral;
	padding: 18px;
	font-size: 28px;
	text-shadow: 0 0 10px lightcoral,
				 0 0 20px lightcoral,
				 0 0 40px lightcoral;
	position: sticky;
	text-decoration: none;
	animation: shining 5.2s infinite;
}

.link5:hover {
	padding: 18px;
	position: sticky;
	font-size: 40px;
	text-shadow: 0 0 10px lightcoral,
				 0 0 20px lightcoral,
				 0 0 40px lightcoral,
				 0 0 80px lightcoral,
				 0 0 120px lightyellow,
				 0 0 140px lightyellow;
	animation: shining 2.5s infinite;
}

.link6 {
	color: lightcoral;
	font-size: 28px;
	padding: 18px;
	text-shadow: 0 0 10px lightcoral,
				 0 0 20px lightcoral,
				 0 0 40px lightcoral;
	position: sticky;
	text-decoration: none;
	animation: shining 4.6s infinite;
}

.link6:hover {
	position: sticky;
	font-size: 40px;
	padding: 18px;
	text-shadow: 0 0 10px lightcoral,
				 0 0 20px lightcoral,
				 0 0 40px lightcoral,
				 0 0 80px lightcoral,
				 0 0 120px lightyellow,
				 0 0 140px lightyellow;
	animation: shining 2.5s infinite;
}

.link7 {
	color: lightcoral;
	font-size: 28px;
	padding: 18px;
	text-shadow: 0 0 10px lightcoral,
				 0 0 20px lightcoral,
				 0 0 40px lightcoral;
	position: sticky;
	text-decoration: none;
	animation: shining 5.5s infinite;
}

.link7:hover {
	position: sticky;
	font-size: 40px;
	padding: 18px;
	text-shadow: 0 0 10px lightcoral,
				 0 0 20px lightcoral,
				 0 0 40px lightcoral,
				 0 0 80px lightcoral,
				 0 0 120px lightyellow,
				 0 0 140px lightyellow;
	animation: shining 2.5s infinite;
}

.link8 {
	color: lightcoral;
	font-size: 28px;
	padding: 18px;
	text-shadow: 0 0 10px lightcoral,
				 0 0 20px lightcoral,
				 0 0 40px lightcoral;
	position: sticky;
	text-decoration: none;
	animation: shining 3.7s infinite;
}

.link8:hover {
	position: sticky;
	font-size: 40px;
	padding: 18px;
	text-shadow: 0 0 10px lightcoral,
				 0 0 20px lightcoral,
				 0 0 40px lightcoral,
				 0 0 80px lightcoral,
				 0 0 120px lightyellow,
				 0 0 140px lightyellow;
	animation: shining 2.5s infinite;
}

.link9 {
	color: lightcoral;
	font-size: 28px;
	padding: 18px;
	text-shadow: 0 0 10px lightcoral,
				 0 0 20px lightcoral,
				 0 0 40px lightcoral;
	position: sticky;
	text-decoration: none;
	animation: shining 4.1s infinite;
}

.link9:hover {
	position: sticky;
	font-size: 40px;
	padding: 18px;
	text-shadow: 0 0 10px lightcoral,
				 0 0 20px lightcoral,
				 0 0 40px lightcoral,
				 0 0 80px lightcoral,
				 0 0 120px lightyellow,
				 0 0 140px lightyellow;
	animation: shining 2.5s infinite;
}

.link10 {
	color: lightcoral;
	font-size: 28px;
	padding: 18px;
	text-shadow: 0 0 10px lightcoral,
				 0 0 20px lightcoral,
				 0 0 40px lightcoral;
	position: sticky;
	text-decoration: none;
	animation: shining 3.6s infinite;
}

.link10:hover {
	position: sticky;
	font-size: 40px;
	padding: 18px;
	text-shadow: 0 0 10px lightcoral,
				 0 0 20px lightcoral,
				 0 0 40px lightcoral,
				 0 0 80px lightcoral,
				 0 0 120px lightyellow,
				 0 0 140px lightyellow;
	animation: shining 2.5s infinite;
}

@keyframes shining {
	0% {
		opacity: 0;
	}
	50% {
		opacity:1;
	}
	100% {
		opacity: 0;
	}
	}
}
