.cls-1 {
  fill: #be1e2d;
/*  height:200px;*/
/*  animation: spin 1s ease-out infinite;*/
}

#Layer_1 {
  height:200px;
  animation: spin 3s ease-out infinite;
}
@keyframes spin{
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}